body {
    background-color: blue;
}
#Hi{
    background-color: brown;
}
#Hola{
    background-color: aquamarine;
}
#Hello{
    background-color:darkred;
}
#A {
    background-color: rgb(98, 0, 255);
    padding: 10px;
    border: 2px solid black;
}
